html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Alata', sans-serif;
    overflow-x: hidden;
    background: white;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
a {
    font-family: 'Alata', sans-serif;
    margin: 0 !important;
    text-decoration: none;
    color: #181818;
}
small {
    color: #637382;
}
::-webkit-scrollbar {
    display: none;
}
.main_font {
    font-family: 'Alata', sans-serif;
}
input, textarea {
	width: 100%;
	max-width: 100%;
	padding: 0.7em;
	outline: none;
	background: #e9ebee;
	border-radius: 4px;
	font-size: 1.3em;
	font-weight: normal;
	border: 1px solid transparent;
}
input::placeholder {
	color: rgba(0, 0, 0, 0.3);
	opacity: 1;
	font-weight: normal;
}
input:focus {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.u__no_select {
    user-select: none;
}
.u__no_margin {
    margin: 0 !important;
}
.u__100vh {
    min-height: 100vh;
    min-width: 100vw;
}
.u__pointer {
    cursor: pointer;
}
.u__no_padding {
    padding: 0 !important;
}
.u__small_margin_vertical {
    margin: 1em 0 !important;
}
.u__big_margin_vertical {
    margin: 3em 0;
}
.u__small_padding {
    padding: 1em 0;
}
.u__small_margin_bottom {
    margin: 0 0 1em 0;
}

.u__text_center {
    text-align: center;
}
.u__main_box_shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.u__normal_font {
    font-weight: normal;
}

/* COLORS */
.white_color_text{
    color: white;
}
.white_color{
    background: #fafafa;
}
.red_color{
    background: red;
}
.accent_color{
    background: #f2f2f2;
}
.accent_color_dark{
    background: #e79128;
}
/* END COLORS */
