.main_banner {
    padding-top: 8em !important;
    min-height: 100vh;
}


.main_item_container {
    min-height: 35em;
    max-height: 35em;
    background: white;
}

.main_item_container img {
    width: auto !important;
    height: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.main_description {
    width: 100%;
    padding: 1em;
    height: 60%;
    top: 0;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    right: 3em;
    justify-content: flex-end;
    align-content: center;
    display: flex;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}

.main_description h2 {
    text-align: start;
    font-size: 2em;
}

.button {
    border: none;
    padding: .6em .6em .2em 0;
    cursor: pointer;
    float: left;
    font-size: 1em;
    background: none;
    margin: .4em 0 !important;
}

.button::after {
    width: 30%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: #181818;
    transition: all .5s;

}

.button:hover::after {
    width: 100%;
}